@{
    ViewData["Title"] = "Asp.Net Core with Websockets";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <textarea id="message" class="form-control" placeholder="Enter message"></textarea>
        </div>
        <button id="sendMessage" class="btn btn-default">Send</button>
        
        Connection status: <span id="status"></span>
        <hr/>
        <div class="form-group">
            Messages:
            <div id="data"></div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var webSocket;
        $().ready(function () {
            webSocket = new WebSocket("ws://" + window.location.host);
            webSocket.onopen = function () {
                $("#status").text("connected");
            };
            webSocket.onmessage = function (evt) {
                $("#data").append("<p>" + evt.data + "</p>");
            };
            webSocket.onerror = function (evt) {
                alert(evt.message);
            };
            webSocket.onclose = function () {
                $("#status").text("disconnected");
            };
            $("#sendMessage").click(function () {
                if (webSocket.readyState === WebSocket.OPEN) {
                    webSocket.send($("#message").val());
                    $("#message").val("");
                    $("#message").focus();
                }
                else {
                    $("status").text("Connection is closed");
                }
            });
        });
    </script>
}