@{
    ViewData["Title"] = "Asp.Net Core with Websockets";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <textarea id="message" class="form-control" placeholder="Enter message"></textarea>
        </div>
        <button id="sendMessage" class="btn btn-default">Send</button>

        Connection status: <span id="status"></span>
        <hr />
        <div class="form-group">
            Messages:
            <div id="data"></div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var data = document.getElementById("data");
        var message = document.getElementById("message");
        var sendMessage = document.getElementById("sendMessage");

        var webSocket;
        webSocket = new WebSocket("ws://" + window.location.host);
        webSocket.onopen = function() {
            document.getElementById("status").innerHTML = "Connected :)";
        }

        webSocket.onmessage = function (evt) {
            data.innerHTML += "<p>"+evt.data+"</p>";
        };

        webSocket.onerror = function (evt) {
            alert(evt.message);
        };
        webSocket.onclose = function () {
            document.getElementById("status").innerHTML = "Disconnected :(";
        };

        sendMessage.addEventListener("click",
            function() {
                if (webSocket.readyState === WebSocket.OPEN) {
                    webSocket.send(message.value);
                    message.value = "";
                    message.focus();
                }
                else {
                    document.getElementById("status").innerHTML = "Connection is closed :/";
                }
            });
    </script>
}